.not-found-page {
  text-align: center;
  margin: auto;
  height: 100%;
  font-family: Monospace;
}
.not-found-heading {
  font-size: 5em;
  font-weight: bold;
}
.not-found-text {
  font-size: 2em;
}
.not-found-link {
  font-size: 2em;
  font-weight: bolder;
  text-decoration: none;
}